@import "shared";


main
{
    margin-top: 12px;
}


h1
{
    margin-top: 10px;
    margin-bottom: unset;
}


#explanation-text
{
    margin-bottom: 25px;
}


#select-div
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .row
    {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 5px 0;

        &:nth-of-type(2)
        {
            justify-content: flex-start;
        }

        label
        {
            display: block;
            font-family: inherit;
            font-size: 16px;
            margin-right: 5px;
        }
    }
}


select, button
{
    color: rgba(black, .83);
    box-shadow: 0 1px 3px rgba(black, 0.1);

    &:hover
    {
        cursor: pointer;
    }
}


select#editor-select
{
    min-width: fit-content;
    max-width: 100%;
    min-height: 28px;
    margin-right: 5px;
    font-size: 13px;
    padding: 3px 5px;
    border-radius: 6px;
    font-family: inherit;


    option#auto-found-divider
    {
        min-height: unset;
        color: rgba(black, 0.2);
        text-align: center;
        pointer-events: none;
        padding: 0;
        font-size: 10px;
    }
}


button
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: fit-content;
    max-width: max-content;
    background-color: white;
    text-align: center;
    font-family: inherit;
    padding: 3px 5px;
    border-radius: 5px;
    min-height: 25px;

    &:hover
    {
        cursor: pointer;
    }

    &:not(#exit-button)
    {
        min-width: max-content;
        min-height: 100%;
        padding: 3px 10px;
        margin-left: 5px;
        font-size: 15px;
        font-weight: 400;
        transition: background-color .08s ease-in, box-shadow .15s ease-in;

        &:hover
        {
            box-shadow: 0 2px 5px rgba(black, 0.25);
            background-color: darken(white, 2%);
        }
    }

    &#exit-button
    {
        width: 30px;
        height: 30px;
        background-color: transparent;
        color: $color-text-light;
        font-family: inherit;
        font-size: 20px;
        font-weight: 500;
        padding: 5px;
        margin: 10px;
    }
}