@import "shared";


body
{
    //padding: 10px 40px;
}


main
{
    justify-content: center;
    align-items: center;
    padding: 10px 40px;
    font-family: inherit;
    font-size: 17px;

    & > *
    {
        width: 100%;
    }
}


h1
{
    padding-bottom: 15px;
}


#select-div
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px 0;

    .row
    {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 5px 0;

        label
        {
            font-family: inherit;
            margin-right: 5px;
        }
    }
}


select, button:not(#exit-button)
{
    //padding: 3px 5px;
    //border-radius: 5px;
    //min-height: 25px;
    //font-family: inherit;
}


select#editor-select
{
    width: 100%;
    min-width: fit-content;
    max-width: fit-content;
    min-height: 25px;
    margin-right: 5px;
    font-size: 13px;
    padding: 3px 5px;
    border-radius: 5px;

    option#auto-found-divider
    {
        min-height: unset;
        color: rgba(black, 0.2);
        text-align: center;
        pointer-events: none;
        padding: 0;
        font-size: 10px;
    }
}


button
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: fit-content;
    max-width: max-content;
    background-color: white;
    text-align: center;
    font-family: inherit;
    padding: 3px 5px;
    border-radius: 5px;
    min-height: 25px;
    //font-weight: bold;

    &:hover
    {
        cursor: pointer;
    }

    &:not(#exit-button)
    {
        //display: inline-block;
        //min-width: 25px;
        min-width: max-content;
        //min-width: 25px;
        //width: 100%;
        //width: max-content;
        min-height: 100%;
        padding: 3px 10px;
        margin-left: 5px;
        font-size: 15px;
        font-weight: 500;
        //color: rgba(black, 0.9);
    }

    &#exit-button
    {
        width: 30px;
        height: 30px;
        background-color: transparent;
        color: white;
        font-family: inherit;
        font-size: 20px;
        font-weight: 500;
        //padding: 5px;
        margin: 10px;
    }
}